.achievements-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(11, 1, 22, 0.95); /* Темный полупрозрачный фон */
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  z-index: 1000; /* Чтобы оверлей был поверх других элементов */
}

.Ach {
  text-align: center;
  background-image: url('./images/fon.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  overflow: hidden; /* чтобы скрыть избыточные элементы */
}

.Ach::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* затемнение черного цвета */
  z-index: 1; /* чтобы затемнение было поверх фона */
}

.achievements-title {
  font-size: 2rem;
  margin-bottom: 20px;
  z-index: 2; 
}

.achievements-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  z-index: 2;
}

.achievement {
  width: 100px;
  height: 100px;
  cursor: pointer;
  z-index: 2;
}

.achievement-image {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
  background-color: black;
}

.achievement-modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}



.achievement-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8); /* Полупрозрачный тёмный фон */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999; /* Уровень поверх всех остальных элементов */
}

.modal-content {
  background-color: #2d2d2d !important; /* Тёмно-серый фон */
  color: #ffffff; /* Белый цвет текста */
  padding: 20px;
  border-radius: 15px; /* Закруглённые края */
  font-size: 1.5em; /* Увеличенный размер шрифта */
  font-weight: bold;
  text-align: center;
  max-width: 400px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); /* Добавление тени для объёма */
  margin-right: 20px;
  margin-left: 20px;
  border: 2px solid #4caf50;
}

.achievements-back-button {
  background-color: #f9c035;
  color: #1f1f1f;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 20px;
  z-index: 2;
}

.achievements-back-button:hover {
  background-color: #e0b834;
}

.achievements-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.next-page-button {
  margin-top: 20px;
  align-self: center;
  cursor: pointer;
  z-index: 2;
}

.navigation-buttons {
  display: flex;
  justify-content: center; /* Центрируем кнопки */
  margin-top: 10px; /* Отступ сверху */
  z-index: 2;
}

.back-page-button, .next-page-button {
  background: none; /* Убираем фоновый цвет */
  border: none; /* Убираем рамки */
  cursor: pointer; /* Курсор при наведении */
  z-index: 2;
}

.navigation-image {
  width: 50px; /* Ширина изображения кнопки */
  height: auto; /* Высота автоматически */
  z-index: 2;
}

.back-page-button:disabled .navigation-image {
  opacity: 0.5; /* Прозрачность изображения, если кнопка отключена */
  pointer-events: none; /* Запрещаем взаимодействие с отключенной кнопкой */
  z-index: 2;
}

.next-page-button.disabled {
  opacity: 0.5; /* Затемнение кнопки */
  pointer-events: none; /* Отключаем взаимодействие */
  z-index: 2;
}