@keyframes fall {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(30px);
    opacity: 0; /* Монета исчезает */
  }
}

@keyframes float {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-30px); /* Элемент поднимается */
  }
}

.shake {
  animation: shake 0.5s forwards;
}

@keyframes shake {
  0% { transform: translate(0); }
  25% { transform: translate(-5px, 0); }
  50% { transform: translate(5px, 0); }
  75% { transform: translate(-5px, 0); }
  100% { transform: translate(0); }
}

.App {
  text-align: center;
}

.setting-button {
  background: none; /* Убирает фон */
  border: none; /* Убирает обводку */
  padding: 0; /* Убирает внутренние отступы */
  cursor: pointer; /* Меняет курсор на указатель */
}

.loading-screen {
  position: fixed; /* Зафиксировано, чтобы не сдвигалось */
  top: 0;
  left: 0;
  width: 100vw; /* Полная ширина */
  height: 100vh; /* Полная высота */
  display: flex;
  justify-content: center; /* Центрирование по горизонтали */
  align-items: center; /* Центрирование по вертикали */
  background-color: rgba(0, 0, 0, 0.7); /* Прозрачный фон, если нужно */
  z-index: 9999; /* Убедитесь, что заставка поверх остальных элементов */
}

.loading-screen img {
  max-width: 100%; /* Масштабировать изображение */
  max-height: 100%; /* Масштабировать изображение */
}

