@keyframes fall {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(30px);
    opacity: 0; /* Монета исчезает */
  }
}

@keyframes float {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-30px); /* Элемент поднимается */
  }
}

.shake {
  animation: shake 0.5s forwards;
}

@keyframes shake {
  0% { transform: translate(0); }
  25% { transform: translate(-5px, 0); }
  50% { transform: translate(5px, 0); }
  75% { transform: translate(-5px, 0); }
  100% { transform: translate(0); }
}

.relative {
  margin-top: 60px;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.modal h2 {
  font-size: 24px;
  color: #f30101;
}

.App {
  position: relative;
  text-align: center;
  background-image: url('./images/fon.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  overflow: hidden; /* чтобы скрыть избыточные элементы */
}

.App::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* затемнение черного цвета */
  z-index: 1; /* чтобы затемнение было поверх фона */
}

.w-full.z-10 {
  position: relative;
  z-index: 2; /* Поднимаем основной контент поверх затемнения */
}

.setting-button {
  background: none; /* Убирает фон */
  border: none; /* Убирает обводку */
  padding: 0; /* Убирает внутренние отступы */
  cursor: pointer; /* Меняет курсор на указатель */
}

.loading-screen {
  position: fixed; /* Зафиксировано, чтобы не сдвигалось */
  top: 0;
  left: 0;
  width: 100vw; /* Полная ширина */
  height: 100vh; /* Полная высота */
  display: flex;
  justify-content: center; /* Центрирование по горизонтали */
  align-items: center; /* Центрирование по вертикали */
  background-color: rgba(0, 0, 0, 0.7); /* Прозрачный фон, если нужно */
  z-index: 9999; /* Убедитесь, что заставка поверх остальных элементов */
}

.loading-screen img {
  max-width: 100%; /* Масштабировать изображение */
  max-height: 100%; /* Масштабировать изображение */
}

.locked-message {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.8);
  color: #ff4d4f;
  padding: 20px;
  border-radius: 8px;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  z-index: 100;
}