@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: sans-serif;
}

.bg-gradient-main {
    background: linear-gradient(to top, #29051d, #610d56);
}

.bg-gradient-overlay {
    background: linear-gradient(180deg, rgb(36, 12, 65) 0%, rgb(28, 9, 73) 40%, rgba(0, 212, 255, 0) 100%);
}

.radial-gradient-overlay {
    position:absolute;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle, rgba(108, 25, 116, 0.8) 0%, rgba(18, 29, 124, 0) 60%);
}

@keyframes float {
    0% {
        opacity: 1;
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        transform: translateY(-50px);
    }
}

.loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000; /* Фоновый цвет под GIF */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
  }
  
  .loading-screen img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
  }