/* Общий контейнер для топа */
.top-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url('./images/fon.png'); /* Заменяем фон */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden; /* Скрываем лишние элементы */
  padding: 20px;
  box-sizing: border-box;
  z-index: 9999;
}

/* Затемнение фона */
.top-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Черное полупрозрачное затемнение */
  z-index: 1;
}

/* Заголовок */
.top-title {
  font-size: 2rem;
  font-weight: bold;
  color: #f9c035; /* Цвет текста */
  margin-bottom: 15px;
  z-index: 2;
}

/* Список игроков */
.top-list {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  flex-grow: 1;
  justify-content: flex-start;
  z-index: 2;
}

/* Элемент игрока */
.top-player {
  display: flex;
  align-items: center;
  justify-content: space-between; /* Разделяем имя и баланс */
  background-color: #4d4c4c; /* Темный фон */
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 10px 15px;
  height: 70px;
  border: 2px solid #f9c035; /* Золотая рамка */
  transition: transform 0.2s ease, background-color 0.3s ease;
  z-index: 2;
}

.top-player:hover {
  background-color: #e2f0f9;
  transform: scale(1.02);
}

/* Левая часть игрока: ранг, аватар, имя */
.player-info {
  display: flex;
  align-items: center;
}

/* Ранг игрока */
.player-rank {
  font-size: 20px;
  font-weight: bold;
  color: #f9c035;
  margin-right: 15px;
  z-index: 2;
}

/* Аватар игрока */
.player-avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 15px;
  border: 2px solid #ddd;
  z-index: 2;
}

/* Имя игрока */
.player-name {
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  z-index: 2;
}

/* Баланс игрока */
.player-coins {
  font-size: 16px;
  font-weight: bold;
  color: #f9c035;
  z-index: 2;
}

/* Элемент игрока "Вы" */
.current-player {
  margin-top: 10px; /* Увеличенный отступ сверху */
  position: relative;
  background-color: #921a1a; /* Легкий фон для выделения */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Тень для выделения */
}

/* Для игрока "Вы" добавляем отступ для аватарки */
/* Для игрока "Вы" добавляем отступ для аватарки */
.current-player .player-avatar {
  border: 2px solid #f9c035; /* Золотая рамка для аватара */
  margin-left: 10px; /* Добавляем отступ слева */
}


.current-player .player-name {
  color: #f9c035; /* Золотой цвет для имени */
  font-weight: bold;
}

.current-player .player-coins {
  color: #f9c035; /* Золотой цвет для монет */
}

